body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl ,dd ,dt {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 12px;
  font-family: "微软雅黑";
  color: #333;
}

a {
  text-decoration: none;
  color: #505050;
}

input, img {
  vertical-align: top;
  border: 0;
  outline-style: hidden;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w {
  width: 85%;
  margin: 0 auto;
}

body, html {
  width: 100%;
}